@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

body {
  display: grid;
  grid-template-columns: 320px 1fr;
  grid-template-rows: max-content max-content 1fr;
  width: 100vw;
  height: 100vh;

  margin: 0;
}

#left-panel {
  grid-area: 1 / 1 / 4 / 2;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-column-gap: 15px;

  grid-template-rows: 90px repeat(10, 40px);
  grid-row-gap: 5px;

  background: #1992D4;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;

  align-items: center;
  padding-left: 30px;
}

#left-panel img {
  height: 25px;
  filter: invert(1);
}

#left-panel #dashboard-icon {
  height: 40px;
}

#left-panel #dashboard-title {
  font-size: 2rem;
  font-weight: bold;
}

.action-icon {
  justify-self: center;
}


#search-icon, #notification-icon {
  height: 25px;
  border-radius: 50%;
}

#user-avatar {
  height: 50px;
  border-radius: 50%;
  margin-left: 20px;
}

#search-icon {
  margin-right: 20px;
  vertical-align: middle;
}

#top-bar input {
  background: #E2E8F0;
  border-radius: 10px;
  border: none;
  height: 2rem;
  width: 30vw;
  font-size: 1.2rem;
  padding-left: 0.5rem;
}

#top-bar {
  display: grid;
  grid-template-columns: max-content 1fr max-content max-content max-content;
  margin: 15px 50px 30px 50px;
  align-items: center;
  justify-content: center;
  gap: 10px;

  font-size: 1.5rem;
  font-weight: bold;
}


#greeting {
  display: grid;
  grid-template-columns: 120px 400px 1fr 100px 100px 100px;
  grid-column-gap: 20px;
  align-items: center;
  padding: 0 50px 30px 50px;

  font-weight: 500;

  box-shadow: 0 10px 11px 0 rgba(134, 134, 134, 0.2);;
}

#greeting #full-name {
  font-size: 1.5rem;
  margin-top: 10px;
}

#greeting img {
  height: 100px;
  border-radius: 50%;
}

#greeting button {
  height: 40px;
  width: 100px;
  background: #1992D4;
  border-radius: 50px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
}


#content {
  display: grid;
  grid-template-areas: "projects-title announcements-title"
                       "projects-cards announcements-list"
                       "projects-cards trending-title"
                       "projects-cards trending-list";

  grid-template-columns: 3fr 1fr;
  grid-column-gap: 30px;
  grid-template-rows: max-content 1fr max-content 1fr;
  grid-row-gap: 10px;

  background: #E2E8F0;
  padding: 30px 20px 20px 20px;
}

#projects-title {
  grid-area: projects-title;
}

#project-cards {
  grid-area: projects-cards;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 10px;
}

#announcements-title {
  grid-area: announcements-title;
}

#announcements-list {
  grid-area: announcements-list;
}

#trending-title {
  grid-area: trending-title;
}

#trending-list {
  grid-area: trending-list;
}

#projects-title, #announcements-title, #trending-title {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 5px;
}

.project-card {
  background: white;
  border-radius: 10px;
  padding: 10px 30px 10px 30px;
  border-left: #F0B429 10px solid;

  color: #636363;

  display: grid;
  grid-template-rows: max-content 1fr max-content;
}

.project-card h3 {
  color: black;
}

.project-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.project-buttons img {
  height: 25px;
}
