@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

body {
  display: grid;
  grid-template-columns: 320px 1fr;

  width: 100vw;
  height: 100vh;

  margin: 0;
}

#left-panel {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-column-gap: 15px;

  grid-template-rows: 90px repeat(10, 40px);
  grid-row-gap: 5px;

  background: #1992D4;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;

  align-items: center;
  padding-left: 30px;
}

#left-panel img {
  height: 25px;
  filter: invert(1);
}

#left-panel #dashboard-icon {
  height: 40px;
}

#left-panel #dashboard-title {
  font-size: 2rem;
  font-weight: bold;
}

.action-icon {
  justify-self: center;
}
